{% load static %}

<section class="instagram-section">

    <div class="container">

        <!-- Section Title -->
        <div class="section-title">

            <span>FOLLOW US</span>

            <h2>Life At Hunkora</h2>

            <p>
                Follow us on Instagram and see how customers enjoy
                Hunkora Banana Chips every day.
            </p>

        </div>


        <!-- Instagram Slider -->
        <div class="instagram-slider">

            <div class="instagram-track">


                <!-- ============================= -->
                <!-- POST 1 -->
                <!-- ============================= -->

                <a
                    href="https://instagram.com/p/Db5i5qzkq72/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/instagram/insta1.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <!-- ============================= -->
                <!-- POST 2 -->
                <!-- ============================= -->

                <a
                    href="https://instagram.com/p//Db5lAxqEvEQ/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/ChatGPT Image Aug 11, 2026, 06_21_12 PM.png' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <!-- ============================= -->
                <!-- POST 3 -->
                <!-- ============================= -->

                <a
                    href="https://instagram.com//p/Db5mT4OkuG5/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/ChatGPT Image Aug 11, 2026, 06_33_02 PM (1).png' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <!-- ============================= -->
                <!-- POST 4 -->
                <!-- ============================= -->

                <a
                    href="https://instagram.com//p/Db5nXGXEpw1/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/ChatGPT Image Aug 11, 2026, 06_36_25 PM.png' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <!-- ============================= -->
                <!-- POST 5 -->
                <!-- ============================= -->

                <a
                    href="https://www.instagram.com/p/Db8yNgsEuBw/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-09-12-559.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <!-- ============================= -->
                <!-- POST 6 -->
                <!-- ============================= -->

                <a
                    href="https://www.instagram.com/p/Db8ypF9EtdB/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-10-56-226.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>



                <!-- ============================= -->
                <!-- DUPLICATE FOR INFINITE SLIDER -->
                <!-- ============================= -->

                <a
                    href="https://www.instagram.com/p/Db5i5qzkq72/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/ChatGPT Image May 14, 2026, 05_24_11 PM.png' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <a
                    href="https://www.instagram.com/p/Db8ydDdkv3q/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-10-32-592.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <a
                    href="https://www.instagram.com/p/Db8yU7NkiPS/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-09-32-634.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <a
                    href="https://www.instagram.com/p/Db8yxoIEn6r/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-11-40-738.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <a
                    href="https://www.instagram.com/p/Db8zyy2ko1H/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/Picsart_26-08-13_00-10-05-321.jpg' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>


                <a
                    href="https://www.instagram.com/p/Db80BBvEkIu/"
                    class="insta-card"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    <img
                        src="{% static 'images/ChatGPT Image Aug 6, 2026, 07_09_28 PM copy.png' %}"
                        alt="Hunkora Banana Chips"
                    >

                    <div class="insta-overlay">

                        <div class="instagram-icon">
                            ◎
                        </div>

                        <span>View Post</span>

                    </div>

                </a>

            </div>

        </div>


        <!-- Follow Button -->

        <a
            href="https://www.instagram.com/hunkora/"
            class="follow-btn"
            target="_blank"
            rel="noopener noreferrer"
        >
            Follow @HUNKORA
        </a>

    </div>

</section>