{% load static %}

<section class="nutrition-section">
    <div class="container">
        <div class="section-title">
            <span>NUTRITION FACTS</span>
            <h2>Healthy & Delicious</h2>
            <p>Every bite of Hunkora Banana Chips is packed with taste and quality.</p>
        </div>

        <div class="nutrition-wrapper">
            <!-- Left Side -->
            <div class="nutrition-image">
                <img src="{% static 'images/image copy 5.png' %}" class="leaf leaf-left" alt="">
            </div>
            <!-- Right Side -->

            <div class="nutrition-content">

                <div class="nutrition-card">

                    <h3>Calories</h3>

                    <p>520 kcal / 100g</p>

                </div>

                <div class="nutrition-card">

                    <h3>Carbohydrates</h3>

                    <p>58g</p>

                </div>

                <div class="nutrition-card">

                    <h3>Protein</h3>

                    <p>3g</p>

                </div>

                <div class="nutrition-card">

                    <h3>Dietary Fiber</h3>

                    <p>5g</p>

                </div>

                <div class="nutrition-card">

                    <h3>Healthy Fats</h3>

                    <p>32g</p>

                </div>

                <div class="nutrition-card">

                    <h3>No Artificial Color</h3>

                    <p>Natural</p>

                </div>

            </div>

        </div>

    </div>

</section>