{% load static %}

<section class="video-section">
    <div class="container">
        <div class="section-title">
            <span>WATCH NOW</span>
            <h2>See How Hunkora Is Made</h2>
            <p>
                Watch our production process, customer reviews,
                and delicious banana chips in action.
            </p>
        </div>

        <div class="video-wrapper">
            <div class="video-box">
                <video controls width="100%" height="auto">
                    <source src="{% static 'videos/Business Suite_creation_1746197486267859.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>